# Core functionality - changes here should be rare!
/src/app.py                   @tomoyuki-miyauchi
/src/backend/database.py      @tomoyuki-miyauchi
/src/backend/routers/auth.py  @tomoyuki-miyauchi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @tomoyuki-miyauchi
